@import './_bootstrap.scss';

.view {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-auto-rows: minmax(100vh)
}

.sidebar {
    grid-column: 1;
    min-height: 100vh;
    background: #373B53;
}

.content {
    grid-column: 2;
    min-height: 100vh;
    background-color: #F2F2F2;
}
.content-invoice {
    max-width: 730px;
    margin: 0 auto;
}

.invoice-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    background: #FFF;
    border-radius: 8px;
}